args==0.1.0
asn1crypto==0.23.0
astroid==1.4.9
attrs==17.3.0
Automat==0.6.0
CacheMan==2.0.6
cffi==1.11.2
clint==0.5.1
colorama==0.3.7
Complexity==1.0
constantly==15.1.0
cryptography==2.1.3
cssselect==1.0.1
cycler==0.10.0
CyHunspell==1.2.1
decorator==4.1.2
flake8==3.3.0
future==0.16.0
graphviz==0.8.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
isort==4.2.5
lazy-object-proxy==1.2.2
lxml==4.1.1
matplotlib==2.1.0
mccabe==0.6.1
miditime==1.1.3
networkx==2.0
nltk==3.2.5
numpy==1.13.3
olefile==0.44
parsel==1.2.0
Pillow==4.3.0
pkginfo==1.4.1
psutil==2.1.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycparser==2.18
PyDispatcher==2.0.5
pyenchant==1.6.11
pyflakes==1.5.0
pylint==1.6.5
pyOpenSSL==17.4.0
pyparsing==2.2.0
pypiwin32==220
python-dateutil==2.6.1
pytz==2016.10
queuelib==1.4.2
requests==2.13.0
requests-toolbelt==0.7.1
scipy==1.0.0
Scrapy==1.4.0
service-identity==17.0.0
six==1.10.0
twine==1.8.1
Twisted==17.9.0
w3lib==1.18.0
wrapt==1.10.8
zope.interface==4.4.3
